@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?família=Oswald:wght@200; 500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?família=Lato:wght@100; 300; 400&display=swap');

:root{ /*guarda as variaveis*/
    --font1: 'Georgia', Times, serif; /*usar em texto mais serios*/
    --font2: 'Roboto', sans-serif; /*usar em texto mais serios*/
    --font3: 'Oswald', sans-serif; /*usar na tela de cadrastro*/
    --font4: 'Lato', sans-serif; /*usar em texto menos serios*/

/*primeira paleta*/
    --Azul: #000FF1;
    --Marrom: #B45131;
    --Amarelo: #FFF001;
    --Verde: #008001;
    --Rosa: #FFC0CB;
/*segunda paleta*/
    --Branco: #FFFFF1;
    --Preto: #000001;
    --Rosa-forte: #ff8486;
    --Bege: #F5F5DC;
/*terceira paleta*/
    --Cinza-Claro: #D3D3D3;
    --Cinza-Médio: #808080;
    --Cinza-Escuro: #696969;
    --Preto-claro: #333;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    font-family: var(--font3);
    width: 100vw;
    height: 100vh;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--Azul);
    color: white;
    box-shadow: 0 0 3px #0000008d;
}

header h1{
    font-weight: bold;
    font-size: 2.2em;
    text-shadow: 1px 1px 2px black
}

main{
    width: 100vw;
    position: relative;
    margin-top: 80px;
}

form{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 1rem;
    margin: auto;
    padding: 2rem;
    background-color: #5050ff1e;
    border-radius: .5rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
}

input, select{
    font-weight: normal;
    font-size: 1em;
    padding: 8px 0;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0 0 1px #00000096;
    text-indent: 10px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

footer p{
    font-size: 20px;
}

#orientacao {
    display: none;
    font-size: 0.8em;
    color: var(--Preto-claro);
    text-align: center;
    background-color: whitesmoke;
    padding: 4px;
    border-radius: 4px;
}

button{
    width: 120px;
    margin: 20px auto 0 auto;
    border-radius: 20px;
    margin-top: 20px;
    font-weight: bold;
    transition: .1s ease all;
    cursor: pointer;
    font-size: 1.2em;
    padding: 10px 0;
    border: none;
    outline: none;
    box-shadow: 0 0 1px #00000096;
}

button:hover{
    box-shadow: 0 0 6px rgba(47, 47, 47, 0.162);
    background-color: #333333;
    color: var(--Branco);
}