@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?família=Oswald:wght@200; 500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?família=Lato:wght@100; 300; 400&display=swap');

:root{ /*guarda as variaveis*/
    --font1: 'Georgia', Times, serif; /*usar em texto mais serios*/
    --font2: 'Roboto', sans-serif; /*usar em texto mais serios*/
    --font3: 'Oswald', sans-serif; /*usar na tela de cadrastro*/
    --font4: 'Lato', sans-serif; /*usar em texto menos serios*/

/*primeira paleta*/
    --Azul: #000FF1;
    --Marrom: #B45131;
    --Amarelo: #FFF001;
    --Verde: #008001;
    --Rosa: #FFC0CB;
/*segunda paleta*/
    --Branco: #FFFFF1;
    --Preto: #000001;
    --Rosa-forte: #ff8486;
    --Bege: #F5F5DC;
/*terceira paleta*/
    --Cinza-Claro: #D3D3D3;
    --Cinza-Médio: #808080;
    --Cinza-Escuro: #696969;
    --Preto-claro: #333;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh; 
    position: relative;
    background-color: var(--Branco);
}

.tela-cadastro{
    width: 100%;
    height: auto;
    position: relative;
}

.cabecalho-inicial{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho-inicial img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 4px;
    filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.158));
    margin-top: -50px;
    margin-left: -40px;
}

.links-inicial{
    display: flex;
    gap: 30px;
    font-size: 22px;
    color: var(--Preto);
    margin-top: -50px;
    margin-right: 40px;
    /* esconder no media screen 704px */
}

.links-inicial p a{
    text-decoration: none;
    color: var(--Preto);
    font-weight: normal;
    font-family: var(--font3);
    width: 100%;
}

.links-inicial p a:hover{
    transition: all 0.1s ease-out;
    color: var(--Azul);
    text-decoration: none;
    font-size: 23px;
}

#cadrastro-inicial{
    margin-right: 100px;
    background-color: var(--Azul);
    color: var(--Branco);
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.196);
}

.menu-lateral{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: 80%;
    height: 100vh;
    overflow: hidden;
    transform: translateX(100%);
    transition: transform 0.5s ease;
    background-color: #002afff5;
}

#fechar{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 2em;
    color: var(--Branco);
    cursor: pointer;
}

#fechar:hover{
    transform: rotate(180deg);
    transition: all 0.3s ease-out;
    filter: brightness(90%);
}

#abrir{
    color: var(--Preto-claro);
    font-size: 2.2em;
    position: absolute;
    top: 40px;
    right: 15px;
    cursor: pointer;
    display: none;
}

#abrir:hover{
    filter: brightness(50%);
}

.centro-lateral{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: column;
    height: calc(65vh - 20px);
    font-size: 28px;
    font-family: var(--font3);
}

.conf-lateral{
    text-decoration: none;
    color: var(--Branco);
}

.conf-lateral:hover{
    color: azure;
}

/*----------------------------------*/

.conteudo-inicial{
    width: 60%;
    height: auto;
    text-align: center;
    margin: 0 auto;
}

.conteudo-inicial h1{
    margin-bottom: 20px;
    font-family: var(--font3);
    font-size: 35px;
    color: var(--Preto-claro);
}

.conteudo-inicial p{
    width: 100%;
    line-height: 24px;
    font-size: 18px;
    text-align: center;
    text-indent: 10px;
    color: var(--Preto-claro);
    font-weight: normal;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dois-cadrastro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.dois-cadrastro p a{
    font-size: 22px;
    font-family: var(--font3);
    text-decoration: none;
    color: black;
    transition: .2s ease all;
}

.dois-cadrastro p a:hover{
    background-color: var(--Preto-claro);
    padding: 12px 24px;
    color: white;
    border-radius: 30px;
    border: 2px solid var(--Bege);
}

/*--------------------------*/

.rodape-inicial{
    width: 100%;
    background-color: var(--Azul);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.rodape-inicial p{
    font-family: var(--font3);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--Branco);
}

/*--------------media screeen---------------*/

@media screen and (max-width: 860px) { /*tablet */
    .cabecalho-inicial img{
        width: 240px;
        height: 240px;
    }

    .links-inicial{
        font-size: 20px;
    }

    .links-inicial p a:hover{
        font-size: 21px;
    }

    #cadrastro-inicial{
        margin-right: 10px;
        padding: 12px;
    }
    /*---------------*/
    .conteudo-inicial{
        width: 90%;
        margin: 0 auto;
    }

    .conteudo-inicial h1{
        font-size: 28px;
    }

    .conteudo-inicial p{
        line-height: 22px;
        width: 100%;
    }

    .dois-cadrastro{
        gap: 50px;
    }
    /*---------------*/
    .rodape-inicial{
        height: 80px;
    }

    .rodape-inicial p{
        width: 100%;
        text-align: center;
        font-size: 18px;
    }

    #close-icon{
        left: -6%;
    }

    form {
        width: 700px;
        padding: 12%;
    }
}

@media screen and (max-width: 704px) { /*tablet menor com menu lateral*/
    .links-inicial{
        display: none;
    }
    #abrir{
        display: block;
    }

    .conteudo-inicial{
        width: 90%;
        margin: 10px auto;
    }

    .conteudo-inicial h1{
        font-size: 24px;
    }

    .conteudo-inicial p{
        width: 100%;
        font-size: 18px;
        text-align: center;
    }

    .dois-cadrastro{
        gap: 40px;
    }
    /*--------------*/
    .rodape-inicial{
        height: 75px;
    }

    .rodape-inicial p{
        font-size: 17px;
    }
}

@media screen and (max-width: 480px) { /*smartfone*/
    .cabecalho-inicial img{
        width: 160px;
        height: 160px;
        margin-top: -15px;
        margin-left: -35px;
    }

    #fechar{
        font-size: 1.9em;
    }

    .centro-lateral{
        font-size: 24px;
        height: calc(70vh - 20px);
    }
    /*---------------*/
    .conteudo-inicial{
        width: 97%;
    }

    .conteudo-inicial h1{
        font-size: 20px;
    }

    .conteudo-inicial p{
        font-size: 17px;
        line-height: 20px;
        text-align: justify;
    }

    .rodape-inicial{
        height: 60px;
    }

    .rodape-inicial p{
        width: 100%;
        font-size: 15px;
    }
}