@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?família=Oswald:wght@200; 500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?família=Lato:wght@100; 300; 400&display=swap');

:root{ /*guarda as variaveis*/
    --font1: 'Georgia', Times, serif; /*usar em texto mais serios*/
    --font2: 'Roboto', sans-serif; /*usar em texto mais serios*/
    --font3: 'Oswald', sans-serif; /*usar na tela de cadrastro*/
    --font4: 'Lato', sans-serif; /*usar em texto menos serios*/

/*primeira paleta*/
    --Azul: #000FF1;
    --Marrom: #B45131;
    --Amarelo: #FFF001;
    --Verde: #008001;
    --Rosa: #FFC0CB;
/*segunda paleta*/
    --Branco: #FFFFF1;
    --Preto: #000001;
    --Rosa-forte: #ff8486;
    --Bege: #F5F5DC;
/*terceira paleta*/
    --Cinza-Claro: #D3D3D3;
    --Cinza-Médio: #808080;
    --Cinza-Escuro: #696969;
    --Preto-claro: #333;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    font-family: var(--font1);
    color: var(--Branco);
    background-color:var(--Branco);
    min-height: 100vh;
    overflow: hidden;
}

header{
    width: 100%;
    height: auto;
    position: relative;
}

header h1{
    width: 30%;
    text-align: center;
    font-size: 1.8em;
    padding: 12px 0;
    color: var(--Branco);
    text-shadow: 1px 2px 1px black;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}

abbr{ /*abbr geral*/
    cursor: help;
    text-decoration: none;
    border: none;
    outline: none;
    text-transform: uppercase;
    letter-spacing: .7rem;
    transition: all .1s;
}

div.logo{
    width: 100%;
    height: 250px;
}

.automatico{
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.banner-principal{
    flex: 0 0 100%;
    max-width: 100%;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}
/*-----------------------*/
.aside-nav{
    width: 100%;
    padding: 24px;
    background-color: #000084;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: -1.5px;
    z-index: 99;
}

#abrir-menu{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1.8em;
    cursor: pointer;
}

#fechar-menu{
    position: absolute;
    top: 3%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 50%;
    color: blue;
}

.menu-lateral-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-size: 1.3em;
    margin: 51px auto 0 auto;
}
.menu-lateral {
    position: fixed;
    top: 34%; /*33.6*/
    left: 0;
    width: 20%;
    height: 100vh;
    overflow: hidden;
    transform: translateX(-100%);
    transition: all .4s ease;
    background-color: #000084;
    z-index: 100;
}

.grade-menu{
    position: relative;
    width: 100%;
    text-indent: 8px;
    height: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-top: 10px;
}

.item{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-family: var(--font2);
    margin: 0 10px;
    white-space: nowrap;
    overflow: hidden;
}

.item:hover{
    color: gold;
}

.imagem-topo .mostrar {
    width: 100%;
    height: auto;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

.ocultar{
    display: none;
}
/*-----------------------*/

main.container{
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: var(--Branco);
}

.container #logo-story{
    width: 250px;
    height: 250px;
    position: absolute;
    top: -42px;
    left: 20px;
}

.container #titulo-story{
    position: absolute;
    top: 11%;
    left: 20%;
    color: rgba(0, 0, 255, 0.26);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
}
.container #logo-story-icon{
    color: #8888ffe1;
}

/*-----------------*/

.stories-container{
    display: flex;
    justify-content: center;
    gap: 34px; /*38*/
    background: var(--Branco);
    color: #000001;
    padding: 8px 10px;
    overflow: hidden;
    overflow-x: scroll;
    position: relative;
    top: 3px;
    left: 34%;
    width: 1011px;
    height: 145px;
    box-shadow: 0 3px 24px -8px rgba(0, 0, 0, 0.081);
}

.content{
    position: relative;
    left: 56.4%; /*53.5*/
}

::-webkit-scrollbar {
    width: 100px;
    height: 8px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: #e5e5e5;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0010f157;
}

.stories-container .content img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    background-position: center;
    box-shadow: 0 3px 24px -8px rgba(0, 0, 0, 0.3);
    margin-top: 15px;
    z-index: 9;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
}

.stories-container .content{
    position: relative;
}

.stories-container .content::before{
    content: "";
    width: 98px;
    height: 98px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 8;
}

.stories-container .content::after{
    content: "";
    width: 106px;
    height: 106px;
    background: linear-gradient(#000084c0, #0010f19d);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 7;
}

/*--------------------*/

.story-full{
    background: #333;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 200;
    opacity: 0;
    pointer-events: none;
    transition: all 100ms ease;
}

.story-full.active{
    opacity: 1;
    pointer-events: auto;
}

.story-full .close-btn{
    position: fixed;
    top: 12px;
    right: 32px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.story-full .content .left-arrow,
.story-full .content .right-arrow{
    width: 60px;
    position: relative;
    cursor: pointer;
}

.story-full .content .left-arrow{
    left: -370px;
}

.story-full .content .right-arrow{
    right: 360px;
}

.story-full .content{
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
}

.story-full img{
    position: relative;
    left: -364px;
    width: 500px;
    height: 90%;
    box-shadow: inset 0 0 100px rgba(127, 127, 127, 0.5), inset 00 50px rgba(127, 127, 127, 0.15);
    border-radius: 5px;
}

.story-full .content .title{
    position: absolute;
    bottom: 26px;
    left: -3%;
    transform: translateX(-50%);
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--Branco);
    line-height: 2;
    padding: 8px 32px;
}

/*------------------------*/
section.conteudo-todo{
    color: var(--Preto);
    padding: 4% 1%;
    background-color: var(--Branco);
}
