@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?família=Oswald:wght@200; 500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?família=Lato:wght@100; 300; 400&display=swap');

:root{ /*guarda as variaveis*/
    --font1: 'Georgia', Times, serif; /*usar em texto mais serios*/
    --font2: 'Roboto', sans-serif; /*usar em texto mais serios*/
    --font3: 'Oswald', sans-serif; /*usar na tela de cadrastro*/
    --font4: 'Lato', sans-serif; /*usar em texto menos serios*/

/*primeira paleta*/
    --Azul: #000FF1;
    --Marrom: #B45131;
    --Amarelo: #FFF001;
    --Verde: #008001;
    --Rosa: #FFC0CB;
/*segunda paleta*/
    --Branco: #FFFFF1;
    --Preto: #000001;
    --Rosa-forte: #ff8486;
    --Bege: #F5F5DC;
/*terceira paleta*/
    --Cinza-Claro: #D3D3D3;
    --Cinza-Médio: #808080;
    --Cinza-Escuro: #696969;
    --Preto-claro: #333;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    font-family: var(--font1);
    scroll-behavior: smooth;
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
}

main{
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100vw;
   position: relative;
}

section.logo{
    width: 60%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;   
    background-color: #0010f1cb;
    border-right: 10px solid #33333393;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    flex-direction: column;
}

section.logo h1{
    color: white;
    font-size: 2.2em;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

section.logo p{
    color: white;
    font-size: 1.2em;
    text-align: center;
    width: 50%;
    margin-bottom: 20px;
    font-weight: bold;
}

section.logo img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 1px 2px 10px #000000ce;
}
/*----------------------------*/
section.entre{
    width: 40%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
}

section.entre img{
    width: 300px;
    height: 300px;
    background: transparent no-repeat center;
    background-size: cover;
    margin-top: -50px;
}

section.entre h2{
    text-align: center;
    margin-top: -75px;
    font-weight: normal;
    font-family: var(--font3);
}

div.data{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font3);
    margin-top: 5px;
}

.link-cadastro{
    background-color: #000FF1;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 10px;
    padding: 8px;
}

.link-cadastro a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-family: var(--font3);
    font-weight: bold;
}

.link-cadastro:hover{
    transition: .1s ease-in-out;
    filter: brightness(85%);
}

.linhacurta{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 10px 0;
}

.linhacurta hr{
    width: 100px;
    color: var(--Cinza-Claro);
}

form{
    width: 80%;
    height: auto;
    background-color: #a6a9ff52;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.055);
    margin: 0 auto;
    padding: 12px;
    position: relative;
}

label{
    font-family: var(--font2);
    font-size: 1.2em;
    text-align: left;
    position: absolute;
    left: 18%;
    color: var(--Preto-claro);
}

input{
    width: 70%;
    height: 38px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
    text-indent: 20px;
}

#senha-recupera a{
    text-decoration: none;
    color: var(--Azul);
    font-family: var(--font3);
}

.recaptcha{ /*retirar quando tiver meu dominio*/
    width: 60%;
    height: 70px;
    margin: 10px auto;
    position: relative;
    background-color: var(--Branco);
    border-radius: 3px;
}

.recaptcha p{ /*retirar quando tiver meu dominio*/
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    font-family: var(--font3);
    color: var(--Preto-claro);
    font-size: 1.2em;
}

.click-cap{ /*retirar quando tiver meu dominio*/
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: var(--Cinza-Claro);
}

#enviar{
    width: 100px;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--Azul);
    color: var(--Branco);
}

#enviar:hover{
    filter: brightness(90%);
    font-weight: bold;
}

.duvida{
    width: 100%;
    text-align: center;
    font-family: var(--font2);
    padding: 20px 0;
}

.duvida p{
    color: var(--Preto-claro);
    font-size: small;
}

.Acesse{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.2em;
    margin-top: 15px;
}

.Acesse a{
    text-decoration: none;
}

.Acesse a:hover{
    filter: brightness(90%); 
}
/*-----------------------*/
.simbolo{
    width: 20px;
    height: 20px;
    fill: currentColor;
    background-color: #0011ff;
    border-radius: 50%;
    color: var(--Branco);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

div.overlay{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transform: translate(-100%);
    transition: all .5s ease;
    background-color: #0010f1ef;
}

div.overlay h3{
    font-size: 1.8em;
    width: 100%;
    color: var(--Branco);
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

div.overlay p{
    font-size: 1.4em;
    width: 100%;
    color: var(--Branco);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
  
}

div.overlay-link{
    margin-top: 30px;
}

div.overlay-link a{
    text-decoration: none;
    font-size: 1.4em;
    color: var(--Branco);
    width: 100%;
    background-color: blue;
    box-shadow: 1px 2px 10px #00000072;
    border-radius: 5px;
    padding: 12px 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

div.overlay-link a:hover{
    filter: brightness(80%);
    box-shadow: 1px 2px 10px #00000033;
}

div.overlay-conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div.overlay-conteudo img{
    width: 99%;
    height: 340px;
    background: transparent no-repeat center;
    box-shadow: 1px 2px 10px #000000ce;
    position: absolute;
    bottom: 0;
    opacity: 0.8;
}

#abrir{
    position: fixed;
    top: 5px;
    left: 5px;
    font-size: 2.2em;
    cursor: pointer;
    display: none;
    z-index: 9;
    background-color: #0000fff5;
    border-radius: 50%;
    padding: 3px;
    color: var(--Branco);
}

#fechar{
    position: fixed;
    top: 5px;
    left: 5px;
    font-size: 2em;
    color: var(--Branco);
    font-weight: bold;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 50%;
    color: var(--Azul);
}

/*------------media screen------------*/

@media screen and (min-width: 1200px) {
    section.logo img{
        width: 500px;
        height: 500px;
    }
}

@media screen and (max-width: 1200px) {
    section.logo h1{
        font-size: 2.1em;
        margin-bottom: 30px;
        margin-top: -50px;
    }

    section.logo p{
        width: 80%; 
    }

    section.logo img{
        width: 450px;
        height: 450px;
        margin-top: 10px;
    }

    section.entre img{
        width: 250px;
        height: 250px;
    }

    section.entre h2{
        font-size: 1.3em;
        margin-top: -65px;
    }

    .link-cadastro{
        width: 60%;
    }

    form{
        width: 90%;
    }

    label{
        left: 9%;
    }

    input{
        width: 90%;
    }

    #enviar{
        width: 80px;
    }

    .duvida{
        padding-top: 50px;
    }
}

@media screen and (max-width: 860px) {
    section.logo{
        width: 50%;
    }

    section.logo h1{
        margin-bottom: 10px;
        margin-top: -100px;
    }

    section.logo p{
        width: 100%;
        font-size: 1.1em;
    }

    section.logo img{
        width: 350px;
        height: 350px;
        margin-top: 30px;
    }

    section.entre{
        width: 50%;
    }

    section.entre img{
        width: 300px;
        height: 300px;
        margin: -40px 0 0 0;
    }

    .link-cadastro{
        width: 90%;
    }

    .linhacurta{
        padding: 10px 0;
    }

    form{
        width: 95%;
    }

    label{
        left: 5%;
    }

    input{
        width: 100%;
    }

    .duvida{
        padding: 100px 0;
    }
}

@media screen and (max-width: 490px) {
     main{
        display: inline-block;
        position: relative;
    }

     section.logo{
        display: none;
    }

     section.entre{
        width: 100%;
        z-index: 2;
    }

    section.entre img{
        margin-top: -80px;
    }

    #enviar{
        margin-top: 15px;
    }

    .duvida{
        padding: 5px 0 0 0;
    }

    #abrir{
        display: block;
    }
}