@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?família=Oswald:wght@200; 500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?família=Lato:wght@100; 300; 400&display=swap');

:root{ /*guarda as variaveis*/
    --font1: 'Georgia', Times, serif; /*usar em texto mais serios*/
    --font2: 'Roboto', sans-serif; /*usar em texto mais serios*/
    --font3: 'Oswald', sans-serif; /*usar na tela de cadrastro*/
    --font4: 'Lato', sans-serif; /*usar em texto menos serios*/

/*primeira paleta*/
    --Azul: #000FF1;
    --Marrom: #B45131;
    --Amarelo: #FFF001;
    --Verde: #008001;
    --Rosa: #FFC0CB;
/*segunda paleta*/
    --Branco: #FFFFF1;
    --Preto: #000001;
    --Rosa-forte: #ff8486;
    --Bege: #F5F5DC;
/*terceira paleta*/
    --Cinza-Claro: #D3D3D3;
    --Cinza-Médio: #808080;
    --Cinza-Escuro: #696969;
    --Preto-claro: #333;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    font-family: var(--font3);
}

header.cabecalho{
    width: 100%;
    height: auto;
    background-color: var(--Azul);
    padding: 24px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
}

header.cabecalho h1{
    text-align: center;
    color: var(--Branco);
    font-size: 2.2em; 
}

main.container{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 2%;
}

section.geral{
    margin-top: 30px;
    display: flex;
    width: 100%;
    height: 400px;
    background-color: #33333310;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 0 5px #94509459;
}

section.Parceiro p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    text-indent: 20px;
    text-align: justify;
    width: 60%;
    margin-right: 5px;
    margin-top: -35px;
    line-height: 1.3em;
}

section.Parceiro img{
    width: 40%;
    border-radius: 10px;
    opacity: 0.8;
}
/*------------------------*/
 
 section.desenvolvedor p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    text-indent: 20px;
    text-align: justify;
    width: 60%;
    margin-right: 5px;
    margin-top: -50px;
    line-height: 1.3em;
 }
 
 section.desenvolvedor img{
    width: 40%;
    border-radius: 10px;
    opacity: 0.9;
 }

 .titulo-unico{
    font-size: 2.2em;
    position: absolute;
    top: 0;
    left: 32%;
    transform: translateX(-50%);
    white-space: nowrap;
}

small{
    color: #7d7c7c;
    position: relative;
    top: 1%;
    left: 10px;
}

div.rodape{
    background-color: #f7f7f7;
    text-align: center;
    font-size: 1.2em;
   padding: 30px 0 10px 0;
}

 /*---------media screen----------*/

 @media screen and (max-width: 1360px) { /* Mudar layout */
    section.geral{
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .titulo-unico{
        font-size: 2em;
        top: 1%;
        left: 50%;
        transform: translateX(-50%);
    }

    section.Parceiro p{
        width: 100%;
        margin-top: 50px;
        margin-bottom: 5px;
        text-align: justify;
    }

    section.Parceiro img{
        width: 100%;
        height: 500px;
        background-size: cover;
    }

    section.desenvolvedor p{
        margin-top: 50px;
        margin-bottom: 5px;
        text-align: justify;
        width: 100%;
    }

    section.desenvolvedor img{
        width: 100%;
        height: 500px;
        background-size: cover;
    }
 }

 @media screen and (max-width: 460px) { /*smartfone*/
    header.cabecalho h1{
        font-size: 1.8em;
    }

    main.container{
        padding: 0;
    }

    section.geral{
        padding: 12px 2px;
        height: auto;
    }

    section.Parceiro p{
        width: 100%;
        font-size: 1em;
    }

    section.Parceiro img{
        border-radius: 5px; 
        height: 300px;
    }

    section.desenvolvedor p{
        margin-top: -5px;
        font-size: 1em;
    }

    section.desenvolvedor img{
        border-radius: 5px; 
        height: 300px;
    }

    .titulo-unico{
        font-size: 1.5em;
    }
 }